@charset "ISO-8859-1";

body{
    background-color: #eff1ed;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #e3fbff;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #010001;
  color: #e3fbff;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #000000;
  color: white;
}
.topnav a.warning {
  background-color: #ffd000;
  color:rgb(1, 0, 0);
}
.topnav a.warning:hover {
  background-color: #ff0000;
  color:white;
}

/* Right-aligned section inside the top navigation */
.topnav-right {
  float: right;
}
.main{
    min-height: 85vh;
    margin: 0;
}

.heading-welcome{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 40px;
    border: 5px solid;
    margin: auto;
    width: 50%;
    padding: 10px;
    background-color: #e3fbff;
}

.content-quote{
    font-family: cursive;
    font-size: 20px;
    border: 5px solid;
    margin: auto;
    width: 50%;
    padding: 10px;
    background-color: #e3f2ff;
}
